---
import { CONTACT, SOCIAL_MEDIA_ITEMS } from '../config';
---

<footer id="footer">
  <section>
    <form method="post" action={CONTACT.formSubmitUrl}>
      <div class="fields">
        <div class="field">
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" placeholder="Tu nombre completo" required />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="tu@email.com" required />
        </div>
        <div class="field">
          <label for="message">Mensaje</label>
          <textarea name="message" id="message" rows="4" placeholder="¿En qué puedo ayudarte?"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Enviar mensaje" class="primary" /></li>
      </ul>
    </form>
  </section>

  <section class="split contact">
    <section class="alt">
      <h3>Ubicación</h3>
      <p>{CONTACT.address[0]}</p>
    </section>
    <section>
      <h3>Teléfono</h3>
      <p><a href={`tel:${CONTACT.phone}`}>{CONTACT.phone}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href={`mailto:${CONTACT.email}`}>{CONTACT.email}</a></p>
    </section>
    <section>
      <h3>Redes sociales</h3>
      <ul class="icons alt">
        {
          SOCIAL_MEDIA_ITEMS.map((item) => (
            <li>
              <a href={item.path} class={`icon brands alt ${item.iconClass}`} target="_blank" rel="noopener noreferrer">
                <span class="label">{item.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
</footer>
