---
//C:\astro-massively\src\components\PostPreview.astro
import { format } from 'date-fns';

export interface Props {
  title: string;
  image?: string;
  date: Date;
  summary: string;
  alt?: string;
  featured?: boolean;
  link: string;
}

const { title, image, date, summary, alt, featured, link } = Astro.props;
---

<article class={featured ? 'post featured' : ''}>
  <header class={featured ? 'major' : ''}>
    <span class="date">
      {format(date, 'yyyy-MM-dd')}
    </span>
    <h2>
      <a href={link} set:html={title} />
    </h2>
    {featured && <p set:html={summary} />}
  </header>
  <a href={link} class={featured ? 'image main' : 'image fit'}>
    <img src={image} alt={alt || ''} class={featured ? 'preview-image featured' : 'preview-image'} loading="lazy" />
  </a>
  {!featured && <p set:html={summary} />}
  <ul class="actions special">
    <li>
      <a href={link} class={featured ? 'button large' : 'button'}>Ver Servicios</a>
    </li>
  </ul>
</article>

<style>
  .preview-image {
    width: 20%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 10px;
    object-fit: cover;
  }

  .preview-image.featured {
    max-width: 320px;
  }

  .preview-image:not(.featured) {
    max-width: 320px;
  }

  h2 a {
    display: inline-block;
    word-break: break-word;
    overflow-wrap: break-word;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    line-height: 1.3;
  }
</style>
